
<div class="parent-card">
  <a routerLink="./home">
    <div class="card border-1 border border-dark movie-card" style="width: 14rem;">
      <img [src]="getSrc()" class="card-img-top" alt="...">
    
      <div class="card-body card-details">
        <h5 class="card-title is-font-15 is-font-wight-700">{{gettitle()}}</h5>
        <p class="card-text is-font-13">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </a>
</div>