<section class="py-5 side-padding">
    <div class="container">
        <div class="row py-5 side-padding">
            <p class="ms-3">Questions? Call 000-800-040-1843</p>
            <div class="col-3">
               
                <ul class="text-uppercase">
                    <li>Faq</li>
                    <li>investor Relations</li>
                    <li>Privacy</li>
                    <li>Speed test</li>

                </ul>
            </div>

            <div class="col-3">

                <ul class="text-uppercase">
                    <li>Faq</li>
                    <li>investor Relations</li>
                    <li>Privacy</li>
                    <li>Speed test</li>

                </ul>
            </div>

            <div class="col-3">

                <ul class="text-uppercase">
                    <li>Faq</li>
                    <li>investor Relations</li>
                    <li>Privacy</li>
                    <li>Speed test</li>

                </ul>
            </div>

            <div class="col-3">

                <ul class="text-uppercase">
                    <li>Faq</li>
                    <li>investor Relations</li>
                    <li>Privacy</li>
                    <li>Speed test</li>

                </ul>
            </div>
        </div>
    </div>
</section>